﻿@using SklepInternetowy_v_3.Models
@model SklepInternetowy_v_3.Models.OrderViewModel
<link href="@Url.Content("~/Content/UserView.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Zamówienie";
}

<h2>Zamówienie</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4>Produkty </h4>
    <hr />
    <div class="products-in-order">

        <table>
            @for (int i = 0; i < Model.ShoppingCartViewModel.Items.Count(); i++)
            {
                @Html.HiddenFor(model => model.ShoppingCartViewModel.Items[i].ProductInCart.ProductId)
                @Html.HiddenFor(model => model.ShoppingCartViewModel.Items[i].Quantity)
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus" style="color: #5bc0de"></span>
                        @Html.DisplayFor(modelItem => modelItem.ShoppingCartViewModel.Items[i].ProductInCart.ProductName)
                    </td>
                    <td class="table-cell"></td>
                    <td>
                        <div class="price-value">@Html.DisplayFor(modelItem => modelItem.ShoppingCartViewModel.Items[i].TotalPriceForItem)</div> <span class="currency">PLN</span>
                    </td>
                </tr>
            }
            <tr style="font-weight: bold">
                <td></td>
                <td class="table-cell total-in-order">SUMA:</td>
                <td><div class="price-value"> @Html.DisplayFor(model => model.Total) </div> <span class="currency">PLN</span></td>
            </tr>
        </table>
    </div>
    <hr />
    <h4>Dane do wysyłki</h4>
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @Html.Partial("_AddressPartial", Model.AddressViewModel ?? new AddressViewModel(), new ViewDataDictionary()
{
    TemplateInfo = new TemplateInfo()
    {
        HtmlFieldPrefix = "AddressViewModel"
    }
})
    <div class="buttons-in-order">
        @Html.ActionLink("Wróć do koszyka", "Cart", "ShoppingCart", null, new { @class = "return-to-cart"})
        <input type="submit" value="Zatwierdź zamówienie" class="btn btn-info button-in-order" title="Oznacza zawarcie umowy i zobowiązanie się do dokonania płatności" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}