﻿@model System.Tuple<string,string>

@{
    ViewBag.Title = "Podsumowanie";
}

@if (Model.Item1.Equals("success"))
{
    <h1>@Model.Item2</h1>
}
else
{
    <h1 class="alert alert-danger">@Model.Item2</h1>
}
