﻿<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Produkty", "Index", "Products")</li>
    <li>@Html.ActionLink("Kategorie", "Index", "ProductCategories")</li>
    <li>@Html.ActionLink("Użytkownicy", "Users", "HeaderActions")</li>
    <li>@Html.ActionLink("Zamówienia", "Orders", "HeaderActions")</li>
</ul>
