﻿@model SklepInternetowy_v_3.Models.ProductCategoryViewModel

@{
    ViewBag.Title = "Usuń kategorię";
}

<h2> Kategoria produktów </h2>

<h4> Czy na pewno chcesz usunąć kategorię?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-info" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
