﻿@model SklepInternetowy_v_3.Models.ProductCategoryViewModel

@{
    ViewBag.Title = "Szczegóły kategorii";
}

<h2> Kategoria produktów </h2>

<div>
    <h4> Szczegóły </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        
        @if (Model.ParentCategoryName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ParentCategoryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParentCategoryName)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
