﻿@model IEnumerable<SklepInternetowy_v_3.Models.ProductCategoryViewModel>

@{
    ViewBag.Title = "Lista kategorii produktów";
}

<h2>Lista kategorii produktów</h2>

<p>
    @Html.ActionLink("Dodaj kategorię", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.CategoryId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>
