﻿@using SklepInternetowy_v_3.Helpers
@model SklepInternetowy_v_3.Models.IndexViewModel
<link href="@Url.Content("~/Content/UserView.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Moje konto";
}


<h2>@ViewBag.Title </h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmiana ustawień konta</h4>
    <hr />

    <div style="display: flex;">
        <div class="settings">
            <dl>
                @if (!User.IsInRole(AppConstants.AdminRole))
                {
                    <dt class="settings-options" onclick="getRealizedOrders()"> <span class="glyphicon glyphicon-tasks"> </span> Wyświetl zamówienia</dt>
                    <dt class="settings-options" onclick="getAddressForm()"> <span class="glyphicon glyphicon-home"> </span> Edytuj adres</dt>
                }
                <dt class="settings-options" onclick="getPasswordForm()"> <span class="glyphicon glyphicon-user"> </span> Edytuj hasło </dt>
            </dl>
        </div>
        <div id="data-form">
            <img class="waiter" src="@Url.Content("~/Content/Images/waiting.png")" alt="" />
        </div>
    </div>
</div>

@if (User.IsInRole(AppConstants.AdminRole))
{
    <script>
        $(document).ready(function () {
            getPasswordForm();
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            getRealizedOrders();
        });

        function getAddressForm() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangeAddress", "Account")',
                success: replaceForm,
                error: function(res, status, err) {
                    alert(err);
                }
            });
        }

        function getRealizedOrders() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("DisplayOrders", "Account")',
                success: replaceForm,
                error: function(res, status, err) {
                    alert(err);
                }
            });
        }
    </script>
}

<script>
    function replaceForm(result) {
        $('#data-form').html(result);
    }

    function getPasswordForm() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ChangePassword", "Manage")',
            success: replaceForm,
            error: function(res, status, err) {
                alert(err);
            }
        });
    }
</script>