﻿@model IEnumerable<SklepInternetowy_v_3.Models.Category.CategoryHeaderItemViewModel>

<ul class="nav navbar-nav">
    @foreach (var category in Model)
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @category.CategoryName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @foreach (var subcategory in category.SubCategories)
                {
                    <li>@Html.ActionLink(subcategory.CategoryName, "Index", "Products", new { id = subcategory.CategoryId }, new { @class="category-header-item"})</li>
                }
            </ul>
        </li>
    }
</ul>