﻿@model System.Collections.Generic.IEnumerable<SklepInternetowy_v_3.Models.AdminItems.UserOrdersViewModel>

@{
    ViewBag.Title = "Zamowienia";
}

<h2>Zamówienia</h2>
@foreach (var order in Model)
{
    <h3>
        Użytkownik: @Html.DisplayFor(o => order.UserName)
    </h3>

    @Html.Partial("~/Views/Shared/_OrdersSummary.cshtml", order.SubmittedOrders)
}