﻿@model System.Collections.Generic.IEnumerable<SklepInternetowy_v_3.Models.AdminItems.UserDetailsViewModel>

@{
    ViewBag.Title = "Użytkownicy";
}

<table class="table">
    <tr>
        <th>
            @Html.LabelFor(u => Model.First().UserName)
        </th>
        <th>
            @Html.LabelFor(u => Model.First().FirstName)
        </th>
        <th>
            @Html.LabelFor(u => Model.First().LastName)
        </th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(u => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(u => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(u => user.LastName)
            </td>
        </tr>
    }
</table>