﻿@using SklepInternetowy_v_3.Helpers
@using SklepInternetowy_v_3.Models
@model SklepInternetowy_v_3.Models.ProductViewModel
<link href="@Url.Content("~/Content/UserView.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = Model.ProductName;
}

<div class="main container">
    <div id="product-container">
        <div id="product-form-container">
            <div id="product-form-center">
                <div>
                    <div id="product-images">
                        <div id="product-image-tiles">
                            @if (Model.ProductPhotos != null && Model.ProductPhotos.Any())
                            {
                                foreach (string photo in Model.ProductPhotos)
                                {
                                    <div class="image">
                                        @{string path = @Url.Content("~/images/") + photo;}
                                        @Html.Image(path, "Brak zdjęcia", "photos-in-details")
                                    </div>
                                }
                            }
                            else
                            {
                                @:<p> Brak zdjęć </p>
                            }
                        </div>
                        <div id="product-preview">
                            <img id="product-preview-img" src="~/Content/Images/waiting.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="product-form-right">
                    <div class="product-name">
                        @Html.DisplayFor(model => model.ProductName)
                    </div>
                    <hr/>
                    <div class="product-price">
                        @Html.DisplayFor(model => model.Price) PLN
                    </div>
                    <hr/>
                    <div class="product-description">
                        @Html.DisplayFor(model => model.ProductDescription)
                    </div>
                    
                    <div>
                        @{
                            string addProductAction = Request.IsAuthenticated ? (!User.IsInRole(AppConstants.AdminRole) ? $"addProduct({Model.ProductId})" : "") : "showLoginRequired()";
                        }
                        <button onclick="@addProductAction" class="btn btn-info @(@User.IsInRole(AppConstants.AdminRole) ? "disabled" : "")" id="add-product-button">
                            <span class="glyphicon glyphicon-shopping-cart"></span> DODAJ DO KOSZYKA
                        </button>
                    </div>
                <div id="product-return-list">
                    <a href="@Url.Action("Index", "Products", new { id = Model.CategoryId})">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Wróć do listy produktów
                    </a>
                </div>
                <hr/>
                <p class="benefits"> <span class="glyphicon glyphicon-home benefit-icons"></span> Darmowa dostawa dla zamówień powyżej 150 PLN</p>
                <p class="benefits"> <span class="glyphicon glyphicon-calendar benefit-icons"></span> 30 dni na zwrot</p>
                <p class="benefits"> <span class="glyphicon glyphicon-gift benefit-icons"></span> Podaruj jako prezent</p>
            </div>
        </div>
    </div>



</div>

<!-- Modal -->
<div class="modal fade" id="add-product-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="add-product-modal-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        $("img.photos-in-details").click(function () {
            changePreviewImage($(this));
        });

        setFirstImage();
    });

    function setFirstImage() {
        changePreviewImage($(".photos-in-details:first"));
    }

    function changePreviewImage(selector) {
        var src = selector.attr("src");
        var target = $("#product-preview-img");
        if (target.attr("src") === src) {
            return false;
        }
        target.fadeTo(300, 0.50, function() {
            $(this).attr("src", src);
        }).fadeTo(200, 1);
    }

    function addProduct(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddProduct", "ShoppingCart")',
            data: '{ id: "' + id + '" }',
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $("#add-product-modal-body").html(response["message"]);
                $("#add-product-modal").modal('toggle');
            },
            error: function(res, status, err) {
                alert(err);
            }
        });
    }

    function showLoginRequired() {
        $("#add-product-modal-body").html("Zaloguj się, aby móc dodać produkt do koszyka");
        $("#add-product-modal").modal('toggle');        
    }
</script>