﻿@using SklepInternetowy_v_3.Helpers
@using SklepInternetowy_v_3.Models
@model IEnumerable<SklepInternetowy_v_3.Models.ProductViewModel>
<link href="@Url.Content("~/Content/UserView.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista produktów";
}

<h2>Lista produktów</h2>

<p>
    @Html.ActionLink("Dodaj produkt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Zdjęcie produktu
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if(item.ProductPhotos.Any()) {
                @:<img src="@Url.Content("~/Images/" + item.ProductPhotos.FirstOrDefault())" alt="Brak zdjęcia" class="product-photo-admin" />
            } 
        </td>
        <td>
            @Html.ActionLink(item.ProductName, "Details", "Products", new {id = item.ProductId}, null)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory)
        </td>
        <td>
            <textarea class="form-control" readonly>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </textarea>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) PLN
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductAmount)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new {id = item.ProductId}) |
            @Html.ActionLink("Usuń", "Delete", new {id = item.ProductId})
        </td>
    </tr>
}

</table>
