﻿@using SklepInternetowy_v_3.Models
@model IEnumerable<SklepInternetowy_v_3.Models.ProductClientViewModel>
<link href="@Url.Content("~/Content/UserView.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista produktów";
}

<h2>@ViewBag.CategoryName</h2>
<hr />

<div class="products-wrapper">
    @foreach (var item in Model)
    {
        <div class="product-wrapper">
            @if (item.ProductPhoto.Any())
                {
                <a href="@Url.Action("Details", "Products", new {id = item.ProductId})">
                    <img src="@Url.Content("~/Images/" + item.ProductPhoto)" alt="Brak zdjęcia" class="product-photo-on-list"/>
                </a>
            }

            <div class="product-name-on-list">
                @Html.ActionLink(item.ProductName, "Details", "Products", new { id = item.ProductId }, htmlAttributes: new { @class = "product-view-link" })
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Price) PLN
            </div>
        </div>
    }
</div>
