﻿@{
    ViewBag.Title = "Potwierdź e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu e-mail. Przejdź @Html.ActionLink("Kliknij, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
