﻿.photo-cart {
    width: 80px;
    height: 120px;
}

.quantity-cart {
    width: 85px;
}

a:hover {
    text-decoration: none;
}

.product-photo-admin {
    width: 150px;
    height: 200px;
}

.photos-in-details {
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
}
.photos-in-details:hover {
    opacity: 0.7;
}

.action-button {
    cursor: pointer
}

.action-button:hover {
    color: blue;
}


.product-form #product-form-right #product-header h1.product-name {
    margin-bottom: 3px;
    text-transform: none;
    line-height: 22px;
    display: block;
}

.main {
    display: table-cell;
    vertical-align: top;
}

#product-container {
    width: 100%;
    margin-top: 25px;
}

#product-form-container {
    display: flex;
    width: 100%;
}

#product-form-center {
    width: 60%;
}

.grid {
    position: relative;
}

#product-image-tiles {
    margin: 0 0 0 25px;
}

#product-images {
    display: flex;
}

#product-preview {
    width: 350px;
    height: 500px;
    margin-left: 10px;
    margin-right: 20px;
}

#product-preview-img {
    max-width: 350px;
    max-height: 500px;
}

.image {
    padding-bottom: 10px;
    position: relative;
}

#product-form>div {
    display: inline-block;
    vertical-align: top;
}

.product-price {
    margin-top: 29px;
    font-size: 25px;
    font-weight: 500;
    text-align: right;
}

.product-description {
    margin-top: 50px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

#product-return-list {
    padding-top: 25px;
}

.product-name {
    margin-top: 20px;
    font-size: 45px;
    font-weight: 600;
    font-family: Calibri;
    letter-spacing: 5px;
    color: darkgray;
}

#add-product-button {
    margin-top: 30px;
}

img.waiter {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
    
.empty-cart {
    text-align: center;
    font-weight: bold;
    color: dimgray;
}

.cart-photo {
    display: block;
    margin: auto;
    width: 16%;
}

.benefit-icons {
    color: #5bc0de;
}

.benefits {
    letter-spacing: 1.5px;
}

.products-wrapper {
    min-width: 800px;
    min-height: 600px;
}

.product-wrapper {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 33%;
    height: 33%;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 25px
}

.product-photo-on-list {
    width: 100%;
    height: 100%
}

.product-photo-on-list:hover {
    opacity: 0.7;
}

.product-name-on-list {
    padding-top: 6px;
}

a.product-name-on-list {
    color: #333333;
}

.total-in-order {
    text-align: right; 
    padding-right: 10px;
}

.price-value {
    width: 75px;
    display: inline-block;
}

.currency {
    margin-left: 5px;
}

.table-cell {
    width: 150px;
}

.products-in-order {
    word-spacing: 1px;
}

.return-to-cart {
    position: absolute;
    bottom: 0;
}

.buttons-in-order {
    position: relative;
}

.product-view-link {
    color: #333333;
}

.product-view-link:hover {
    color: #5bc0de;
}

.button-in-order {
    margin-left: 250px;
    margin-top: 5px;
}

.total-in-cart {
    font-weight: bold;
    font-size: 14px;
    float: right;
}

.cart-buttons {
    display: flex;
    margin-top: 60px;
}

#data-form {
    width: 80%;
}

.dropdown-menu li a.category-header-item:hover {
    background-color: #5bc0de;
}

.homee-main-photo {
    height: 80%;
    width: 100%;
    margin-top: 80px;
}

.category-wrapper {
    display: flex;
}

.home-photos {
    height: 100%;
    width: 100%;
    float: left;
}

.home-category-header {
    font-size: 30px;
    font-weight: 600;
    font-family: Calibri;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 85%;
}

.shop-name {
    text-align: center;
    font-size: 120px;
    font-family: Agency FB;
    letter-spacing: 5px;
    max-height: 130px;
}

.shop-slogan {
    text-align: center;
    font-size: 25px;
    font-family: Tahoma;
    letter-spacing: 5px;
    color: orange; 
}

.photo-category {
    float: left;
    width: 40%;
    height: 60%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.settings-options {
    color: #5bc0de;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.settings-options:hover {
    background: #f2f2f2;
    border-radius: 10px;
}

.settings {
    width: 20%;
    padding-right: 30px;
}

.categories {
    color: #333333;
}

.categories:hover {
    color: #5bc0de;
}
    