﻿<link href="@Url.Content("~/Content/UserView.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "CinaMon";
}

<div style="display: block">
    <div class="shop-name"> CinaMon  </div>
    <div class="shop-slogan">  Your own style</div>
</div>


<div class="homee-main-photo">
    <img class="home-photos" src="~/Content/Images/05.jpg" />
</div>

<p class="home-category-header"> Feel the colour </p>

<div class="category-wrapper">
    <a href="@Url.Action("Category", "Products", new { id = "Koszule"})" class="photo-category">
        <div>
            <img class="home-photos" src="~/Content/Images/1.jpg" />
            <span class="home-category-header categories">Koszule</span>
        </div>
    </a>

    <a href="@Url.Action("Category", "Products", new { id = "Spodnie"})" class="photo-category">
        <div>
            <img class="home-photos" src="~/Content/Images/2.jpg" />
            <span class="home-category-header categories">Spodnie</span>
        </div>
    </a>

    <a href="@Url.Action("Category", "Products", new { id = "Swetry"})" class="photo-category">
        <div>
            <img class="home-photos" src="~/Content/Images/3.jpg" />
            <span class="home-category-header categories">Swetry</span>
        </div>
    </a>

    <a href="@Url.Action("Category", "Products", new { id = "Płaszcze"})" class="photo-category">
        <div>
            <img class="home-photos" src="~/Content/Images/4.jpg" />
            <span class="home-category-header categories">Płaszcze</span>
        </div>
    </a>
</div>