﻿@model SklepInternetowy_v_3.Models.ShoppingCartViewModel
@using SklepInternetowy_v_3.Helpers
@using SklepInternetowy_v_3.Models
<link href="@Url.Content("~/Content/UserView.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Mój koszyk";
}

<h2>Koszyk</h2>

@if (!Model.Items.Any())
{
    <hr />
    <img src="~/Content/Images/empty_cart.png" class="cart-photo">
    <h1 class="empty-cart">
        Twój koszyk jest pusty :(
    </h1>

}
else
{
    <h5> Nie zwlekaj z zakupem, dodanie artykułów do koszyka nie oznacza ich rezerwacji </h5>
    <br />
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CartId)

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items.First().ProductInCart.ProductName)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.First().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.First().ProductInCart.Price)
                </th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model.Items.Count(); ++i)
            {
                <tr>
                    @Html.HiddenFor(model => model.Items[i].ItemId)
                    @Html.HiddenFor(model => model.Items[i].ProductInCart.ProductId)
                    @Html.HiddenFor(model => model.Items[i].ProductInCart.ProductPhoto)
                    @Html.HiddenFor(model => model.Items[i].ProductInCart.Price)
                    @Html.HiddenFor(model => model.Items[i].ProductInCart.ProductName)
                    <td>
                        <img src="@Url.Content("~/Images/" + Model.Items[i].ProductInCart.ProductPhoto)" alt="Brak zdjęcia" class="photo-cart" />
                    </td>
                    <td>
                        @Html.ActionLink(Model.Items[i].ProductInCart.ProductName, "Details", "Products", new { id = Model.Items[i].ProductInCart.ProductId }, null)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Items[i].Quantity, new { htmlAttributes = new { @class = "form-control quantity-cart", min = "1" } })
                        @Html.ValidationMessageFor(model => model.Items[i].Quantity, "", new { @class = "text-danger" })
                    </td>

                    <td>
                        <span class="item-price-cart">@Html.DisplayFor(model => model.Items[i].ProductInCart.Price)</span> PLN
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteItem", "ShoppingCart", new {id = Model.Items[i].ItemId})">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Usuń
                        </a>
                    </td>
                </tr>
            }
        </table>

        <hr />
        <p class="total-in-cart">
            SUMA: <span id="total-prize-cart"> @Html.DisplayFor(model => model.TotalPrizesUp) </span> PLN
        </p>

        <div class="form-group cart-buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="shopping" value="Zapisz zmiany i wróc do zakupów" class="btn btn-info" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="order" value="Przejdź do zamówienia" class="btn btn-info" />
            </div>
        </div>
    }

    <script>
        $(document).ready(function () {
            $(".quantity-cart").keyup(handleQuantityChange).change(handleQuantityChange);
        });

        function handleQuantityChange() {
            var totalSum = 0.0;
            $(".quantity-cart").each(function () {
                var quantity = parseInt($(this).val());
                if (isNaN(quantity) || quantity <= 0) {
                    totalSum = NaN;
                } else {
                    if (!isNaN(totalSum)) {
                        var price = parseFloat($(this).closest("tr").find(".item-price-cart").html().replace(",", ".")).toFixed(2);
                        totalSum += quantity * price;
                    }
                }
                console.log(totalSum);
            });
            $("#total-prize-cart").html(isNaN(totalSum) ? "0.00" : totalSum.toFixed(2));
        };
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}