﻿@using System.ComponentModel.DataAnnotations
@model IEnumerable<SklepInternetowy_v_3.Models.SubmittedOrderViewModel>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <table class="table">
            <tr>
                <th>
                    Produkty
                </th>
                <th>
                    Adres dostawy
                </th>
                <th>
                    Data złożenia
                </th>
                <th>
                    Całkowity koszt
                </th>
            </tr>
            <tr>
                <td class="col-md-5">
                    @foreach (var product in item.ItemsInOrder)
                    {
                        <div>
                            <span class="glyphicon glyphicon-ok" style="color: #5bc0de"></span>
                            @Html.DisplayFor(p => product.ProductInCart.ProductName) -
                            @Html.DisplayFor(p => product.Quantity) szt.
                        </div>
                    }
                </td>
                <td class="col-md-3">
                    <div>
                        @Html.DisplayFor(i => item.DeliveryDetails.FirstName)
                        @Html.DisplayFor(i => item.DeliveryDetails.LastName)
                    </div>
                    <div>
                        @Html.DisplayFor(i => item.DeliveryDetails.Street)
                        @Html.DisplayFor(i => item.DeliveryDetails.HouseNumber)
                        @if (item.DeliveryDetails.FlatNumber != null)
                        {
                            @:/@Html.DisplayFor(i => item.DeliveryDetails.FlatNumber)
                        }
                    </div>
                    <div>
                        @Html.DisplayFor(i => item.DeliveryDetails.ZipCode)
                        @Html.DisplayFor(i => item.DeliveryDetails.City)
                    </div>
                    <div>
                        @Html.DisplayFor(i => item.DeliveryDetails.PhoneNumber)
                    </div>
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Total) PLN
                </td>
            </tr>
        </table>
    }
}
else
{
    <h1 class="empty-cart">
        Brak zrealizowanych zamówień
    </h1>
}