﻿
@{
    ViewBag.Title = "Dostęp zabroniony";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dostęp zabroniony</h2>
<h2></h2>
<h4>Przepraszamy ale nie masz wystarczających uprawnień aby wykonąć tę akcję</h4>